.tabs .main {
    background: #DEE2E6;
}

/* CAMUNDA MODELER 5.x */

div[data-group-id="group-CamundaPlatform__Form"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__TaskListener"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__JobExecution"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__HistoryCleanup"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__Tasklist"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__ExternalTask"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__AsynchronousContinuations"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__ExecutionListener"] {
    display: none !important;
}

div[data-group-id="group-CamundaPlatform__FieldInjection"] {
    display: none !important;
}

select#bio-properties-panel-implementationType option[value=class] {
	display: none;
}

select#bio-properties-panel-implementationType option[value=external] {
	display: none;
}

select#bio-properties-panel-implementationType option[value=expression] {
	display: none;
}

select#bio-properties-panel-implementationType option[value=delegateExpression] {
	display: none;
}

/* CAMUNDA MODELER 4.x */

div[data-group="async"] {
    display: none;
}

div[data-group="externalTaskConfiguration"] {
    display: none;
}

div[data-group="jobConfiguration"] {
    display: none;
}

div[data-group="historyConfiguration"] {
    display: none;
}

div[data-group="listeners"] {
    display: none;
}

select#camunda-implementation-select option[value=class] {
	display: none;
}

select#camunda-implementation-select option[value=external] {
	display: none;
}

select#camunda-implementation-select option[value=delegateExpression] {
	display: none;
}

div[data-entry="dueDate"] {
    display: none;
}

div[data-entry="followUpDate"] {
    display: none;
}
