/* Adds a nice Onify background */
.tabs .main {
    background: #DEE2E6;
}

/* #### PROPERTIES PANEL #### */

/* Hide Asynchronous Continuations */
div[data-group="async"] {
    display: none;
}

/* Hide External Task Configuration */
div[data-group="externalTaskConfiguration"] {
    display: none;
}

/* Hide Job Configuration */
div[data-group="jobConfiguration"] {
    display: none;
}

/* Hide History Configuration */
div[data-group="historyConfiguration"] {
    display: none;
}

/* Hide Listeners */
div[data-group="listeners"] {
    display: none;
}

/* Hide Service Task/Implementation/Java class */
select#camunda-implementation-select option[value=class] {
	display: none;
}

/* Hide Service Task/Implementation/External */
select#camunda-implementation-select option[value=external] {
	display: none;
}

/* Hide Service Task/Implementation/Delegate Expression */
select#camunda-implementation-select option[value=delegateExpression] {
	display: none;
}

/* #### BPMN ICONS/ELEMENTS #### */

/* 
.bpmn-icon-business-rule {
    display: none;
}
*/